<nav class="navbar navbar-expand-lg navbar-light bg-light p-1 shadow fixed-top">
	<div class="container-fluid">
	  <a class="navbar-brand" href="https://start.axcora.com">Axcora WebApps</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<i class="fas fa-ellipsis-v"></i>
	  </button>
	  <div class="collapse navbar-collapse p-3 justify-content-end" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link active" href="#"><i class="fab fa-angular text-danger"></i> Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" href="#start"><i class="fab fa-react text-info"></i>  About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" href="#features"><i class="fab fa-node-js text-success"></i>  Features</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" href="#services"><i class="fab fa-laravel text-danger"></i> Services</a>
		  </li>
		  <li class="nav-item text-indigo-600">
			<a class="nav-link active" href="#contact"><i class="fab fa-bootstrap text-primary"></i> Contact</a>
		  </li>
		  <li class="nav-item text-indigo-600">
			<a class="nav-link active" href="https://www.hockeycomputindo.com/2021/11/free-node-js-download-template-source.html"><i class="fas fa-book-open text-dark"></i> Documentation</a>
		  </li>
		  <li class="nav-item text-indigo-600">
			<a class="nav-link btn btn-dark btn-sm text-white" href="https://github.com/mesinkasir/node-landingpage"><i class="fab fa-github"></i> Github</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <div class="row">