<title><%= title %> </title>
<meta name="description" content="<%= desc %>">
<meta content='<%= title %>' property='og:title'/>
<meta content='Axcora' property='og:author'/>
<meta content='index, follow' name='robots'/>
<link href="https://axcora.com/images/createwebsiteusingangular.png" rel="icon" type="image/x-icon">